<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoFuds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="GoFuds apps, submission for Dicoding front-end web developer expert class.">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/icon/favicon-96x96-dunplab-manifest-7724.png"/>
    <link rel="apple-touch-icon" href="/images/icon.png">
</head>
<body>

<header>
    <a href="../#content" class="skip-link">Skip to Content</a>
    <nav id="drawer">
        <a href="index.html" class="drawer-title">GoFuds</a>
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/luthfi-alfarisi/" target="_blank" rel="noopener">About Us</a></li>
        </ul>
    </nav>
    <button id="hamburger" aria-label="Open Navigation">☰</button>
    <a href="index.html" class="main-title">GoFuds</a>
</header>

<main></main>

<footer>
    <p>Copyright © 2020 - GoFuds</p>
</footer>

</body>
</html>
